<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ddtkj.projectformwork"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序访问Wi-Fi网络状态信 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 读写手机状态和身份 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 可以读写SDCARD,包括其他storage,比如内部flash,usb等等 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /><!--允许一个程序打开窗口使用TYPE_SYSTEM_ALERT,显示在其他所有程序的顶层 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <!--分包动态修改部分参数注意事项：-->
    <!-- android:icon="${app_icon}" 分包动态图标设置-->
    <!--android:label="@string/app_name" 分包动态设置app_name时注释掉strings.xml中的app_name-->
    <!--tools:replace="icon,label,theme" 解决多个Manifest合并时异常问题-->
    <application
        android:name=".Base.My_Application"
        android:allowBackup="false"
        android:icon="@mipmap/common_icon_launcher"
        android:label="@string/app_name"
        tools:replace="icon,label,theme,allowBackup"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:theme="@style/AppTheme">
        <!--启动页-->
        <activity
            android:name=".MVP.View.Implement.Activity.Main_WelcomePage"
            android:theme="@style/defaultStyle"
            android:background="@color/white"
            android:launchMode="singleTask"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--引导页-->
        <activity
            android:name=".MVP.View.Implement.Activity.Main_Guide_View"
            android:theme="@style/defaultStyle"
            android:launchMode="singleTask"
        />
        <!--**********************友盟分享******************************-->
        <!--新浪-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--微信-->
        <!--qq精简版-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104815120" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"
        />

        <!--*****************************service************************************-->
        <!-- 启动页后台下载图片的Service -->
        <service android:name=".Service.Main_WelcomePageService" >
            <intent-filter>
                <action android:name="${applicationId}.Service.WelcomePageService" />
            </intent-filter>
            </service>
        <!-- 后台更新下载 -->
          <service android:name=".Service.Main_UploadService" >
              <intent-filter>
                  <action android:name="${applicationId}.Service.UploadService" />
              </intent-filter>
          </service>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--*****************************receiver************************************-->
        <!--   程序更新后自启动的 receiver -->
        <!-- <receiver android:name="com.ygworld.Receiver.AppInstallReceiver"
                   android:label="@string/app_name">
             <intent-filter>
                 <action android:name="android.intent.action.PACKAGE_ADDED" />
                 <action android:name="android.intent.action.PACKAGE_REPLACED" />
                 <action android:name="android.intent.action.PACKAGE_REMOVED" />
                 <data android:scheme="package" />
             </intent-filter>
         </receiver>-->
        <!--*****************************meta-data************************************-->
        <!--友盟多渠道打包-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="552b7381fd98c5e2b40002b9" >
        </meta-data>

        <!--*************************JPUSH推送*****************************************-->
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <!-- <receiver
             android:name="com.ddt.ygworld.common.Receiver.JPushReceiver"
             android:exported="false"
             android:enabled="true">
             <intent-filter>
                 <action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash;Required  用户注册SDK的intent&ndash;&gt;
                 <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK消息的intent&ndash;&gt;
                 <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK通知栏信息的intent&ndash;&gt;
                 <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash;Required  用户打开自定义通知栏的intent&ndash;&gt;
                 <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> &lt;!&ndash;Optional 用户接受Rich Push Javascript 回调函数的intent&ndash;&gt;
                 <action android:name="cn.jpush.android.intent.CONNECTION" />&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;
                 <category android:name="${applicationId}" />
             </intent-filter>
         </receiver>-->
        <!--*************************JPUSH推送*****************************************-->
    </application>

</manifest>